html { 
    background: url(background.jpg) no-repeat center center fixed; 
    background-size: cover;
  }


canvas {
    border: 2px solid #1a1a1a;
    background-color: #838383;
	margin-top: 100px;

}
.instruction {
	float: left;
	background: rgba(0, 0, 0, 0.7);
	padding: 20px;
	margin-left :250px;
	margin-top: 130px;
	text-align: center;
	color: white;
	font-family: 'Century Gothic', sans-serif;
}




